[tool.poetry]
name = "kodexa"
version = "6.0.175"
description = "Python SDK for the Kodexa Platform"
authors = ["Austin Redenbaugh <austin@kodexa.com>", "Philip Dodds <philip@kodexa.com>", "Romar Cablao <rcablao@kodexa.com>", "Amadea Paula Dodds <amadeapaula@kodexa.com>"]
readme = "README.md"

packages = [
    { include = "kodexa" }
]

classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Developers',
    'Topic :: Software Development :: Libraries',
    '''License :: OSI Approved :: Apache Software License''', # noqa
    'Programming Language :: Python :: 3.9',
]

[tool.poetry.dependencies]
python = ">=3.9, <4.0"
addict = "2.4.0"
requests = "^2.28.1"
msgpack = "1.0.4"
urllib3 = "^1.26.14"
ply = ">=3.11,<4.0"
pyyaml = "^6.0"
deepdiff = "5.8.1"
appdirs = "^1.4.4"
simpleeval = "0.9.12"
jsonpickle = "2.2.0"
python-dateutil = "^2.8.2"
datamodel-code-generator = ">=0.13.0,<0.14.0"
better-exceptions = ">=0.3.3,<0.4.0"
pyfunctional = ">=1.4.3,<1.5.0"
pydantic = "^1.10.4"
pydantic-yaml = ">=0.8.0,<0.9.0"

[tool.poetry.group.dev.dependencies]
mkdocs-material = "^9.0.3"
pytest = "7.2.0"
pytest-runner = "6.0.0"
mypy = "^0.991"
flake8 = "^6.0.0"
pandas = "1.4.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
