setuptools==60.8.1
twine==3.8.0
texttable
addict==2.4.0
requests
msgpack~=1.0.0
urllib3
wheel
ply
pytest==7.0.0
pytest-runner
pandas==1.4.0
pyyaml
mypy
deepdiff==5.7.0
click
jinja2
flake8
rich==11.2.0
appdirs
simpleeval==0.9.12
jq==1.2.2
jsonpickle==2.1.0
pdoc3
python_dateutil >= 2.5.3
datamodel-code-generator==0.11.19
better-exceptions
boto3==1.20.51
awslambdaric
bbox
pyfunctional
