setuptools~=46.1.3
twine~=3.1.1
texttable
addict~=2.2.1
requests
msgpack~=1.0.0
urllib3
wheel
ply
pytest
pytest-runner
pandas
pyyaml
mypy
deepdiff~=5.0.2
click
jinja2
flake8
rich
appdirs
simpleeval
jq
jsonpickle
pdoc3
python_dateutil >= 2.5.3
urllib3 >= 1.25.3
datamodel-code-generator
better-exceptions
boto3
awslambdaric
bbox