openapi: 3.0.1
info:
  title: Kodexa
  description: Pragmatic AI for Documents
  license:
    name: Commercial
    url: https://kodexa.ai
  version: 5.0.392
externalDocs:
  description: Kodexa Developer Portal
  url: https://developer.kodexa.ai
servers:
- url: https://dev1.kodexa.com
  description: Generated server url
tags:
- name: Teams
  description: Provides ability to interact with the teams on the platform
- name: Assistants
  description: Provides ability to interact with the assistants that have been registered
- name: ModelRuntimes
  description: Provides ability to interact with the model runtimes that have been
    registered
- name: Pipelines
  description: Provides ability to interact with the pipelines registered with the
    platform
- name: Roles
  description: Provides ability to interact with the roles on the platform
- name: Sessions
  description: Provides ability to interact with the active sessions and executions
- name: Dashboards
  description: Provides ability to interact with the dashboards that have been registered
- name: Memberships
  description: Provides ability to interact with the organization memberships
- name: Taxonomies
  description: Provides ability to interact with the taxonomies created on the platform
- name: Actions
  description: Provides ability to interact with the actions that have been registered
- name: Projects
  description: Provides ability to interact with the projects on the platform
- name: Account
  description: Provides ability to work with your account
- name: Extension Packs
  description: Provides ability to interact with the extension packs that have been
    registered
- name: Organizations
  description: Provides ability to interact with the organizations
- name: Project Templates
  description: Provides ability to interact with the project templates registered
    on the platform
- name: Executions
  description: Provides ability to search and interact with executions
- name: Platform Events
  description: Provides ability to interact with the events from the platform
- name: Stores
  description: Provides ability to interact with the stores created on the platform
- name: Platform Overview
  description: Provides details on the currently running instance.
- name: Users
  description: Provides ability to interact with the users registered on the platform
- name: Access Tokens
  description: Provides ability to work with access tokens
- name: Credentials
  description: Provides ability to capture and store types of credential
- name: Execution Scheduler
  description: Provides endpoints for picking up and executing scheduled execution
    events
paths:
  /api/users/{id}:
    get:
      tags:
      - Users
      description: Get a resource with the provided ID
      operationId: get
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Accessing the resource you were trying to reach forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: You are not authorized to get the resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: The resource you were trying to reach not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: Successfully got the resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
        "500":
          description: "An internal exception has occurred, check the logs for more\
            \ information"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
    put:
      tags:
      - Users
      description: Update the given instance
      operationId: update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        "403":
          description: Accessing the resource you were trying to reach forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: You are not authorized to updated the resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: The resource you were trying to reach not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "500":
          description: "An internal exception has occurred, check the logs for more\
            \ information"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
        "200":
          description: Successfully updated the resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
    delete:
      tags:
      - Users
      description: Delete the resource with the provided ID
      operationId: delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Accessing the resource you were trying to reach forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: You are not authorized to delete the resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: The resource you were trying to reach not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "500":
          description: "An internal exception has occurred, check the logs for more\
            \ information"
        "200":
          description: Successfully deleted the resource
  /api/users/{id}/password:
    put:
      tags:
      - Users
      description: Update users password (admin only)
      operationId: setPassword
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePasswordReset'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
  /api/users/{id}/deactivate:
    put:
      tags:
      - Users
      description: De-activate user (admin only)
      operationId: deactivate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
  /api/users/{id}/activate:
    put:
      tags:
      - Users
      description: Activate user (admin only)
      operationId: activate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/User'
  /api/teams/{id}:
    get:
      tags:
      - Teams
      description: Get a resource with the provided ID
      operationId: getTeam
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Accessing the resource you were trying to reach forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: You are not authorized to get the resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: The resource you were trying to reach not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: Successfully got the resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Team'
        "500":
          description: "An internal exception has occurred, check the logs for more\
            \ information"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Team'
    put:
      tags:
      - Teams
      description: Update the given instance
      operationId: updateTeam
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Team'
        required: true
      responses:
        "403":
          description: Accessing the resource you were trying to reach forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: You are not authorized to updated the resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: The resource you were trying to reach not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "500":
          description: "An internal exception has occurred, check the logs for more\
            \ information"
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Team'
        "200":
          description: Successfully updated the resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Team'
    delete:
      tags:
      - Teams
      description: Delete the resource with the provided ID
      operationId: deleteTeam
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Accessing the resource you were trying to reach forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: You are not authorized to delete the resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: The resource you were trying to reach not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "500":
          description: "An internal exception has occurred, check the logs for more\
            \ information"
        "200":
          description: Successfully deleted the resource
  /api/taxonomies/{organizationSlug}/{slug}:
    get:
      tags:
      - Taxonomies
      description: Get the current version of the object with given slug
      operationId: getTaxonomy
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Taxonomy'
    put:
      tags:
      - Taxonomies
      description: Update the current version object with given slug in the organization
      operationId: updateTaxonomy
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Taxonomy'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Taxonomy'
    delete:
      tags:
      - Taxonomies
      description: Delete the current version of the given object
      operationId: deleteTaxonomy
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/taxonomies/{organizationSlug}/{slug}/{version}:
    get:
      tags:
      - Taxonomies
      description: Get the specific version of the object with given slug
      operationId: getVersion
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Taxonomy'
    put:
      tags:
      - Taxonomies
      description: Update the object with given slug and version in the organization
      operationId: updateVersion
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Taxonomy'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Taxonomy'
    delete:
      tags:
      - Taxonomies
      description: Delete the specified version of the given object
      operationId: deleteVersion
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/stores/{organizationSlug}/{slug}:
    get:
      tags:
      - Stores
      description: Get the current version of the object with given slug
      operationId: getStore
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Store'
    put:
      tags:
      - Stores
      description: Update the current version object with given slug in the organization
      operationId: updateStore
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Store'
    delete:
      tags:
      - Stores
      description: Delete the current version of the given object
      operationId: deleteStore
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/stores/{organizationSlug}/{slug}/{version}:
    get:
      tags:
      - Stores
      description: Get the specific version of the object with given slug
      operationId: getVersionStore
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Store'
    put:
      tags:
      - Stores
      description: Update the object with given slug and version in the organization
      operationId: updateVersionStore
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Store'
    delete:
      tags:
      - Stores
      description: Delete the specified version of the given object
      operationId: deleteVersionStore
      parameters:
      - name: organizationSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/stores/{orgSlug}/{slug}/{version}/viewOptions:
    put:
      tags:
      - Stores
      description: Update the store view options
      operationId: updateStoreViewOptions
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreViewOptions'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/{version}/undeploy:
    put:
      tags:
      - Stores
      description: Undeploy Model
      operationId: undeployStore
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/stores/{orgSlug}/{slug}/{version}/reprocess:
    put:
      tags:
      - Stores
      description: "Reprocess content in the store, allow you to provide a list of\
        \ the family ID's"
      operationId: reprocessWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReprocessRequest'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/{version}/metadata:
    get:
      tags:
      - Stores
      description: Get the metadata associated with this store
      operationId: getStoreMetadata
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/DocumentContentMetadata'
                - $ref: '#/components/schemas/ModelContentMetadata'
    put:
      tags:
      - Stores
      description: Update the content metadata for this store
      operationId: updateStoreMetadata
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/DocumentContentMetadata'
              - $ref: '#/components/schemas/ModelContentMetadata'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/DocumentContentMetadata'
                - $ref: '#/components/schemas/ModelContentMetadata'
  /api/stores/{orgSlug}/{slug}/{version}/fs/**:
    get:
      tags:
      - Stores
      description: Get the document family for a path in the specific version of the
        store
      operationId: bdataObjectseFsByVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: queryContext
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/QueryContext'
      - name: path
        in: query
        required: false
        schema:
          type: string
          default: ""
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
    put:
      tags:
      - Stores
      description: Rename the path of a document family in the current version of
        the store
      operationId: renameFamilyWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: query
        required: false
        schema:
          type: string
      - name: rename
        in: query
        required: false
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentFamily'
    post:
      tags:
      - Stores
      operationId: uploadToPathWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: query
        required: false
        schema:
          type: string
      - name: metadata
        in: query
        required: true
        schema:
          type: object
          additionalProperties:
            type: object
      - name: documentVersion
        in: query
        required: false
        schema:
          type: string
          default: ""
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentFamily'
    delete:
      tags:
      - Stores
      description: Delete document family by path in a specific version of the store
      operationId: deleteFamilyByPathWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: query
        required: false
        schema:
          type: string
          default: ""
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/stores/{orgSlug}/{slug}/{version}/families:
    get:
      tags:
      - Stores
      description: "List (with pagination) the enriched (include transition events,\
        \ and extracted data counts) document families in a specific version of the\
        \ store"
      operationId: listFamiliesWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: queryContext
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/QueryContext'
      - name: query
        in: query
        required: false
        schema:
          type: string
          default: '*'
      - name: projectId
        in: query
        required: false
        schema:
          type: string
          default: ""
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageDocumentFamily'
    put:
      tags:
      - Stores
      description: Bulk set the lock on a list of document families
      operationId: bulkSetLockWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCopy'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
    post:
      tags:
      - Stores
      operationId: importFamily
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: mappings
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                familyZip:
                  type: string
                  format: binary
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentFamily'
    delete:
      tags:
      - Stores
      description: Bulk delete a set of document families the specified version
      operationId: deleteContentObjectsWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDelete'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/{version}/families/{id}:
    get:
      tags:
      - Stores
      description: Get a specific document family in a version of the store
      operationId: getFamilyWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentFamily'
    put:
      tags:
      - Stores
      description: Get a specific document family in the current version of the store
      operationId: updateFamily
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FamilyRename'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentFamily'
    delete:
      tags:
      - Stores
      description: Delete a specific document family in a version of a store
      operationId: deleteFamilyIDWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/stores/{orgSlug}/{slug}/{version}/families/{id}/status:
    put:
      tags:
      - Stores
      description: "Get the counts of extracted data, by parent taxon, for a specific\
        \ family"
      operationId: updateStatusWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentStatus'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentFamily'
  /api/stores/{orgSlug}/{slug}/{version}/families/{id}/reprocess:
    put:
      tags:
      - Stores
      description: Reprocess content in this family for a specific set of assistants
        in a version of a store
      operationId: reprocessFamilyWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: assistantId
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/{version}/families/{id}/removeLabel:
    put:
      tags:
      - Stores
      description: Remove a label to this specific document and its latest content
        object
      operationId: removeLabelFromDocumentFamily
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: label
        in: query
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/Label'
  /api/stores/{orgSlug}/{slug}/{version}/families/{id}/objects/{objectId}/_replaceTags:
    put:
      tags:
      - Stores
      description: Update the contents of an object in a family (note that this will
        overwrite any content and not store a transition)
      operationId: updateTagsOnContentObject
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: objectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureSet'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentFamily'
  /api/stores/{orgSlug}/{slug}/{version}/families/{id}/assignees:
    put:
      tags:
      - Stores
      description: "Get the counts of extracted data, by parent taxon, for a specific\
        \ family"
      operationId: updateAssigneesWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/User'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/DocumentAssignment'
  /api/stores/{orgSlug}/{slug}/{version}/families/{id}/addLabel:
    put:
      tags:
      - Stores
      description: Add a label to this specific document and its latest content object
      operationId: addLabelToDocumentFamily
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: label
        in: query
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/Label'
  /api/stores/{orgSlug}/{slug}/{version}/families/{familyId}/unlock:
    put:
      tags:
      - Stores
      description: Unlock the given family in the current version of the store
      operationId: unlockFamilyWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: familyId
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/{version}/families/{familyId}/lock:
    put:
      tags:
      - Stores
      description: Lock the given family in the given version of the store
      operationId: lockFamilyWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: familyId
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/{version}/deploy:
    put:
      tags:
      - Stores
      description: Deploy Model (only works if the store is a model store and it is
        in a suitable state)
      operationId: deployStore
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/stores/{orgSlug}/{slug}/{version}/dataObjects/{parentId}/attributes/{attributeId}:
    put:
      tags:
      - Stores
      description: Update a specific attribute in a data object
      operationId: updateWithVersionDataObjectAttribute
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: attributeId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataAttribute'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataObject'
    delete:
      tags:
      - Stores
      description: Delete a specific attribute in a data object
      operationId: removeAttributeFromDataObject
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: attributeId
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataObject'
  /api/stores/{orgSlug}/{slug}/{version}/dataObjects/{parentId}/attributes/{attributeId}/notes/{noteId}:
    put:
      tags:
      - Stores
      description: Delete a specific attribute in a data object
      operationId: updateNoteForDataObjectAttribute
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: attributeId
        in: path
        required: true
        schema:
          type: string
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Note'
    delete:
      tags:
      - Stores
      description: Delete a specific attribute in a data object
      operationId: deleteNoteForDataObjectAttribute
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: attributeId
        in: path
        required: true
        schema:
          type: string
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/{version}/dataObjects/{dataObjectId}:
    put:
      tags:
      - Stores
      description: Update a given dataObject
      operationId: updateDataObjectWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataObject'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataObject'
    delete:
      tags:
      - Stores
      description: Delete a given data object
      operationId: deleteDataObjectWithVersion
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: dataObjectId
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/reprocess:
    put:
      tags:
      - Stores
      description: "Reprocess content in the store, allow you to provide a list of\
        \ the family ID's"
      operationId: reprocess
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReprocessRequest'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/fs/**:
    get:
      tags:
      - Stores
      description: Get the document family for a path in the current version of the
        store
      operationId: bdataObjectseFs
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: queryContext
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/QueryContext'
      - name: query
        in: query
        required: false
        schema:
          type: string
          default: '*'
      - name: path
        in: query
        required: false
        schema:
          type: string
          default: ""
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
    put:
      tags:
      - Stores
      operationId: renameFamily
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: query
        required: false
        schema:
          type: string
      - name: rename
        in: query
        required: false
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentFamily'
    post:
      tags:
      - Stores
      operationId: uploadToPath
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: query
        required: false
        schema:
          type: string
      - name: metadata
        in: query
        required: true
        schema:
          type: object
          additionalProperties:
            type: object
      - name: documentVersion
        in: query
        required: false
        schema:
          type: string
          default: ""
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentFamily'
    delete:
      tags:
      - Stores
      description: Delete document family by path in the current version of the store
      operationId: deleteFamilyByPath
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: path
        in: query
        required: false
        schema:
          type: string
          default: ""
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/stores/{orgSlug}/{slug}/families:
    get:
      tags:
      - Stores
      description: List (with pagination) the document families in the current version
        of the store
      operationId: listFamilies
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: queryContext
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/QueryContext'
      - name: query
        in: query
        required: false
        schema:
          type: string
          default: '*'
      - name: projectId
        in: query
        required: false
        schema:
          type: string
          default: ""
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageDocumentFamily'
    put:
      tags:
      - Stores
      description: Bulk set the lock on a list of document families
      operationId: bulkSetLock
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCopy'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
    delete:
      tags:
      - Stores
      description: Bulk delete a set of document families in the current version
      operationId: deleteFamilies
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDelete'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/families/{id}:
    get:
      tags:
      - Stores
      description: Get a specific document family in the current version of the store
      operationId: getFamily
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentFamily'
    put:
      tags:
      - Stores
      description: Get a specific document family in the current version of the store
      operationId: updateFamilyPath
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FamilyRename'
        required: true
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentFamily'
    delete:
      tags:
      - Stores
      description: Delete a specific document family in the current version of a store
      operationId: deleteFamilyByID
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
  /api/stores/{orgSlug}/{slug}/families/{id}/reprocess:
    put:
      tags:
      - Stores
      description: Reprocess content in this family for a specific set of assistants
        in the current version of a store
      operationId: reprocessDocumentFamily
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: assistantId
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/families/{familyId}/unlock:
    put:
      tags:
      - Stores
      description: Unlock the given family in the current version of the store
      operationId: unlockFamily
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: familyId
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        "200":
          description: OK
  /api/stores/{orgSlug}/{slug}/families/{familyId}/lock:
    put:
      tags:
      - Stores
      description: Lock the given family in the current version of the store
      operationId: lockFamily
      parameters:
      - name: orgSlug
        in: path
        required: true
        schema:
          type: string
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: familyId
        in: path
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ThrowableProblem'
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
[...]
