---
#################################
#################################
## Super Linter GitHub Actions ##
#################################
#################################
name: Lint Code Base

permissions:
  actions: read
  checks: read
  # To report GitHub Actions status checks
  statuses: write

#
# Documentation:
# https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
#

#############################
# Start the job on all push #
#############################
on:
  pull_request:
    branches:
      - 'releases/**'

# Set the Job #
###############
jobs:
  build:
    if: startsWith(github.ref, 'refs/heads/releases/')
    # Name the Job
    name: Lint Code Base
    # Set the agent to run on
    runs-on: ubuntu-latest

    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      ################################
      # Run Linter against code base #
      ################################
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          uv-version: 'latest'

      - name: Install dependencies
        run: uv sync --group dev

      - name: Run flake8 lint
        run: uv run flake8 kodexa